@keyframes listening-animation {
  10% { transform: scaleY(0.3); }
  30% { transform: scaleY(1); }
  60% { transform: scaleY(0.5); }
  80% { transform: scaleY(0.75); }
  100% { transform: scaleY(0.6); }
}

span.listening-bar {
    animation: listening-animation 2.2s ease infinite alternate;
}

span.listening-bar:nth-of-type(2) {
    animation-delay: 2.2s;
}

span.listening-bar:nth-of-type(4) {
    animation-delay: 2.2s;
}
